{% extends "base.html.twig" %}

{% block body %}
    <h1>Détail de la categorie</h1>
    <p>{{ categorie.Libelle }}</p>
    <p>{{ categorie.Icone }}<span class="{{ categorie.Icone }}"></span></p>
    <p><a href="/categorie/maj/{{ categorie.id }}"> Modifier ce super Article </a></p>
    <p><a href="/categorie/suppr/{{ categorie.id }}"> Supprimer ce super Article </a></p>
{% endblock %}